{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Articles Details</title>
</head>

<body>

    <div class="details-wrapper">


        <div class="body">
            <div class="one">
                <p class="title">{{article_dtl.title}}</p>
                <p class="body">{{article_dtl.body}}</p>
            </div>
            <div class="two">
                <img src="{{article_dtl.thumb.url}}" alt="img">
                <p class="author">Posted by : <span class="user-name">{{article_dtl.author}}</span></p>
                <p class="date">{{article_dtl.date}}</p>
            </div>
        </div>

        <div class="foot">
            <div class="container">
                {% if user.is_authenticated == False %}
                <a href="{% url 'acc_login'%}" class="login">Login</a>
                <a href="{% url 'acc_signup'%}" class="signup">Create account</a>
                <a href="{% url 'articles_create'%}" class="create">Create article</a>
                {% endif %}
            </div>
        </div>

    </div>

</body>

</html>