{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Articles Create</title>
</head>

<body>



    <div class="create-wrapper">

        <div class="form-wrapper">
            <p class="warn">The image resolution must be 600x400 <br> Otherwise it will be streched</p>
            <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{form}}

                <button type="submit">Create</button>
            </form>
        </div>

    </div>

</body>

<script src="{% static 'script.js' %}"></script>

</html>