{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Articles Home</title>
</head>

<body>

    <div class="articles_home">


        <div class="head">

            {% if user.is_authenticated == False %}
            <a href="{% url 'acc_login'%}" class="home-login-btn">Login</a>
            <a href="{% url 'acc_signup'%}" class="home-signup-btn">Create account</a>
            {% endif %}

        </div>



        <div class="head2">
            {% if user.is_authenticated %}
            <h4 class="user">Hey <span class="user-name">{{user.username}}</span></h4>
            <a href="{% url 'acc_logout'%}" class="logout">Logout</a>
            {% endif %}
        </div>
        
            <div class="under-head">
                <p class="recently">Recently Added :</p>
                {% if user.is_authenticated %}
                <a href="{% url 'articles_create'%}" class="under-head-create">Create article</a>
                {% endif %}
            </div>

        

        <div class="artcl-wrapper">

            {% for article in articles %}

            <div class="indv-artcl">
                <p class="author">Created By : {{article.author}}</p>
                <div class="artcl">
                    <a href="{% url 'articles_details' slug=article.slug %}">{{article.title}}</a>
                    <p>{{article.body}}</p>
                    <p>{{article.date}}</p>
                </div>
            </div>

            {% endfor %}

        </div>

        

    </div>

</body>



</html>